<div id="sticky-announcement" class="mlannouncement span-12">
  <a href="/collections/all?sort_by=best-selling">
    <span class="emphasis">
      Free Shipping on Orders Over $49 Rocks
    </span> 
  </a>
</div>