<div class="sb-widget">
  <div class="search-blog">
    <form action="/search" method="get">
      <input type="hidden" name="type" value="article">
      <input type="text" name="q" class="form-control" placeholder="Search ... " autocomplete="off">
      <button type="submit"><i class="demo-icon icon-electro-search-icon"></i></button>
    </form>
  </div>
</div>

<div class="sb-widget">
  <div class="sb-menu">
    <h5 class="sb-title">Categories</h5>
    <ul class="blog-menu">
      <li class="dropdown">
        <a href="/collections/led-pod-lights" class="dropdown-link"><span>LED Pod Lights</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/cg2-sae-street-legal-driving-series"
              ><span>CG2 SAE Street Legal Driving Series</span></a
            >
          </li>
          <li>
            <a href="/collections/cg2-led-light-cannon-series"><span>CG2 LED Light Cannon Series</span></a>
          </li>
          <li>
            <a href="/collections/adv-light-cannon-series"><span>ADV LED Light Cannon Series</span></a>
          </li>
          <li>
            <a href="/collections/overland-light-series"><span>Overland Light Series</span></a>
          </li>
          <li>
            <a href="/collections/vl-series-driving-lights"><span>VL-Series LED Driving Lights</span></a>
          </li>
          <li>
            <a href="/collections/optimus-series"><span>Optimus Series LED Lights</span></a>
          </li>
          <li>
            <a href="/collections/light-cannon-series"><span>LED Light Cannon Series</span></a>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/duralux-series-led-lights" class="dropdown-link"
              ><span>Duralux Series LED Lights</span></a
            >
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/dura-mini"><span>Dura Mini LED Lights</span></a>
              </li>
              <li>
                <a href="/collections/dura-4-led"><span>Duralux 4 LED Lights</span></a>
              </li>
              <li>
                <a href="/collections/duralux-6-led-lights"><span>Duralux 6 LED Lights</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/collections/solstice-series"><span>Solstice Series LED Lights</span></a>
          </li>
          <li>
            <a href="/collections/led-pod-lights"><span>View All</span></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/led-headlights" class="dropdown-link"><span>LED Headlights</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/vx-series-led-headlights"><span>VX Series LED Headlights</span></a>
          </li>
          <li>
            <a href="/collections/jeep-headlight"><span>Jeep LED Headlights</span></a>
          </li>
          <li>
            <a href="/collections/xmc-motorcycle"><span>XMC LED Motorcycle Headlights</span></a>
          </li>
          <li>
            <a href="/collections/utv-headlights"><span>Polaris RZR/General Headlights</span></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/led-light-bars" class="dropdown-link"><span>LED Light Bars</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/xpl-sae-street-legal-driving-series"
              ><span>XPL SAE Street Legal Driving Series</span></a
            >
          </li>
          <li>
            <a href="/collections/unite-modular-led-light-bar-system"
              ><span>Unite Modular LED Light Bar Systems</span></a
            >
          </li>
          <li>
            <a href="/collections/shocker-led-light-bar"><span>Shocker LED Light Bars</span></a>
          </li>
          <li>
            <a href="/collections/shocker-x2-dual-row-led-series"><span>Shocker X2 Dual Row Light Bar Series</span></a>
          </li>
          <li>
            <a href="/collections/xpl-halo-spot-low-profile-led-light-bars"
              ><span>XPL (Halo Spot Low Profile) LED Light Bars</span></a
            >
          </li>
          <li>
            <a href="/collections/xpr-led-light-bar"><span>XPR LED Light Bars</span></a>
          </li>
          <li>
            <a href="/collections/xpr-s-led-light-bar"><span>XPR - S LED Light Bars</span></a>
          </li>
          <li>
            <a href="/collections/xpl-chaser-bar"><span>Chaser Bars</span></a>
          </li>
          <li>
            <a href="/collections/led-light-bars"><span>All Light Bars</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/collections/sae-street-legal">SAE Street Legal Driving Lights</a>
      </li>
      <li class="dropdown">
        <a href="/collections/grilles" class="dropdown-link"><span>Grilles</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/chevrolet-grilles"><span>Chevrolet Grilles</span></a>
          </li>
          <li>
            <a href="/collections/dodge-ram-grilles"><span>Dodge Ram Grilles</span></a>
          </li>
          <li>
            <a href="/collections/ford-grilles"><span>Ford Grilles</span></a>
          </li>
          <li>
            <a href="/collections/gmc-grilles"><span>GMC Grilles</span></a>
          </li>
          <li>
            <a href="/collections/toyota-grilles"><span>Toyota Grilles</span></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/halogen" class="dropdown-link"><span>Halogen</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/bulbs"><span>Bulbs</span></a>
          </li>
          <li>
            <a href="/collections/sealed-beam-housing"><span>Sealed Beam Housing</span></a>
          </li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="/collections/light-covers" class="dropdown-link"><span>Light Covers / Lenses</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/cannon-light-covers"><span>Cannon Light Covers</span></a>
          </li>
          <li>
            <a href="/collections/optimus-covers"><span>Optimus Covers</span></a>
          </li>
          <li>
            <a href="/collections/xpr-light-covers"><span>XPR Covers</span></a>
          </li>
          <li>
            <a href="/collections/xpl-light-covers"><span>XPL Covers</span></a>
          </li>
        </ul>
      </li>
      <li>
        <a href="/collections/utility-lights">Utility Lights</a>
      </li>
      <li class="dropdown">
        <a href="/collections/accessory-lighting" class="dropdown-link"><span>Accessory Lighting</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/rock-lights"><span>XP Rock Light</span></a>
          </li>
          <li>
            <a href="/collections/tantrum-rock-lights"><span>Tantrum Rock Lights</span></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/accessory-hardware" class="dropdown-link"> <span>Accessory Mounting Hardware</span></a
        ><span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/light-bar-endcap-mounts"><span>Light Bar Endcap Mounts</span></a>
          </li>
          <li>
            <a href="/collections/tube-clamp-mounts"><span>Tube Clamp Mounts</span></a>
          </li>
          <li>
            <a href="/collections/security-hardware"><span>Security Hardware</span></a>
          </li>
          <li>
            <a href="/collections/winch-mounts-1"><span>Winch Mounts</span></a>
          </li>
          <li>
            <a href="/collections/flush-mounts"><span>Flush Mounts</span></a>
          </li>
          <li>
            <a href="/collections/hitch-moutns"><span>Hitch Mount</span></a>
          </li>
          <li>
            <a href="/collections/license-plate-mounts"><span>License Plate Mounts</span></a>
          </li>
        </ul>
      </li>
      <li><a href="/collections/winch-mounts">Wiring Harness and Adapters</a></li>
      <li class="dropdown">
        <a href="/collections/vehicle-specific" class="dropdown-link"><span>Vehicle Specific</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/can-am" class="dropdown-link"><span>Can-Am</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/can-am-maverick-x3"><span>Maverick X3</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/chevy" class="dropdown-link"><span>Chevy</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/chevy-silverado-1500"><span>Silverado 1500</span></a>
              </li>
              <li>
                <a href="/collections/chevy-1500-z71"><span>Silverado 1500 Z71</span></a>
              </li>
              <li>
                <a href="/collections/chevy-2500-3500"><span>Silverado 2500/3500</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/dodge-ram" class="dropdown-link"><span>Dodge Ram</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/dodge-ram-1500"><span>Ram 1500</span></a>
              </li>
              <li>
                <a href="/collections/dodge-ram-2500-3500"><span>Ram 2500/3500</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/ford" class="dropdown-link"><span>Ford</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/ford-f-150"><span>F-150</span></a>
              </li>
              <li>
                <a href="/collections/ford-f-150-raptor"><span>F-150 Raptor</span></a>
              </li>
              <li>
                <a href="/collections/ford-super-duty-f-250-f-350"><span>Super Duty F-250/F-350</span></a>
              </li>
              <li>
                <a href="/collections/ford-ranger"><span>Ranger</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/gmc" class="dropdown-link"><span>GMC</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/gmc-sierra-1500"><span>Sierra 1500</span></a>
              </li>
              <li>
                <a href="/collections/gmc-sierra-2500-3500"><span>Sierra 2500 - 2500</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/jeep" class="dropdown-link"><span>Jeep</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/jeep-wrangler-jk"><span>Wrangler JK</span></a>
              </li>
              <li>
                <a href="/collections/jeep-wrangler-jk-x"><span>Wrangler JK X</span></a>
              </li>
              <li>
                <a href="/collections/jeep-wrangler-jl"><span>Wrangler JL</span></a>
              </li>
              <li>
                <a href="/collections/jeep-gladiator"><span>Gladiator JT</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/polaris" class="dropdown-link"><span>Polaris</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/rzr-900-s-4-570-170"><span>RZR 900/S/4/570/170</span></a>
              </li>
              <li>
                <a href="/collections/polaris-general"><span>General</span></a>
              </li>
            </ul>
          </li>
          <li class="dropdown sb-dropdown-submenu">
            <a href="/collections/toyota" class="dropdown-link"><span>Toyota</span></a>
            <span class="expand"></span>
            <ul class="dropdown-menu">
              <li>
                <a href="/collections/toyota-tacoma"><span>Tacoma</span></a>
              </li>
              <li>
                <a href="/collections/toyota-tundra"><span>Tundra</span></a>
              </li>
              <li>
                <a href="/collections/toyota-4-runner"><span>Toyota 4-Runner</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/jeep-lighting" class="dropdown-link"><span>Jeep Lighting</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/jeep-headlight"><span>Jeep Headlights</span></a>
          </li>
          <li>
            <a href="/collections/jeep-fog-light"><span>Jeep Fog Lights</span></a>
          </li>
          <li>
            <a href="/collections/jeep-a-pillar"><span>Jeep A-Pillar Lights</span></a>
          </li>
          <li>
            <a href="/collections/jeep-roof"><span>Jeep Roof Lights</span></a>
          </li>
          <li>
            <a href="/collections/jeep-bumper"><span>Jeep Bumper Lights</span></a>
          </li>
          <li>
            <a href="/collections/jeep-accessory-lighting"><span>Jeep Accessory Lighting</span></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/truck-lighting" class="dropdown-link"><span>Truck Lighting</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/truck-roof"><span>Truck Roof Lights</span></a>
          </li>
          <li>
            <a href="/collections/truck-bumper"><span>Truck Bumper Lights</span></a>
          </li>
          <li>
            <a href="/collections/truck-fog-light"><span>Truck Fog Lights</span></a>
          </li>
          <li>
            <a href="/collections/truck-a-pillar"><span>Truck A-Pillar Lights</span></a>
          </li>
          <li>
            <a href="/collections/truck-accessory-lighting"><span>Truck Accessory Lighting</span></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/collections/utv-lighting" class="dropdown-link"><span>UTV Lighting</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/utv-roof"><span>UTV Roof Lights</span></a>
          </li>
          <li>
            <a href="/collections/utv-bumper"><span>UTV Bumper Lights</span></a>
          </li>
          <li>
            <a href="/collections/utv-headlight"><span>UTV Headlights</span></a>
          </li>
          <li>
            <a href="/collections/utv-a-pillar"><span>UTV A-Pillar Lights</span></a>
          </li>
          <li>
            <a href="/collections/utv-accessory-lighting"><span>UTV Accessory Lighting</span></a>
          </li>
        </ul>
      </li>
      <li><a href="/collections/xmc-motorcycle">Motorcycle Lighting</a></li>
      <li><a href="/collections/clothing-stickers">Merchandise &amp; Apparel</a></li>

      <li class="dropdown">
        <a href="/collections/blowout-collection" class="dropdown-link"><span>Clearance</span></a>
        <span class="expand"></span>
        <ul class="dropdown-menu">
          <li>
            <a href="/collections/closeout-light-bars"><span>Pod Lights</span></a>
          </li>
          <li>
            <a href="/collections/closeout-light-bars-1"><span>Light Bars</span></a>
          </li>
          <li>
            <a href="/collections/closeout-accessory-lighting"><span>Accessory Lighting</span></a>
          </li>
          <li>
            <a href="/collections/closeout-vehicle-specific"><span>Vehicle Specific </span></a>
          </li>
          <li>
            <a href="/collections/halogen-1"><span>Halogen</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="sb-widget">
  <div class="sb-blog-posts">
    <h5 class="sb-title">recent posts</h5>
    <div class="post-list">
      <div class="post-item">
        <div class="post-item-inner">
          <div class="post-image">
            <a href="/blogs/news/how-to-install-a-light-bar-on-your-toyota-tacoma">
              <img
                src="//cdn.shopify.com/s/files/1/0273/6724/3885/articles/Blog_Post_Hero_Image_2_150x.jpg?v=1617907211"
                alt="Blog"
              >
            </a>
          </div>
          <div class="post-content">
            <div class="info">
              <h6>
                <a href="/blogs/news/how-to-install-a-light-bar-on-your-toyota-tacoma"
                  >How To Install a Light Bar on Your Toyota Tacoma</a
                >
              </h6>
            </div>
            <div class="meta-data">
              <span class="date">April 08, 2021</span>
            </div>
          </div>
        </div>
      </div>
      <div class="post-item">
        <div class="post-item-inner">
          <div class="post-image">
            <a href="/blogs/news/unite-led-light-bar-now-with-curved-rails">
              <img src="//cdn.shopify.com/s/files/1/0273/6724/3885/articles/Social_1_150x.jpg?v=1605131988" alt="Blog">
            </a>
          </div>
          <div class="post-content">
            <div class="info">
              <h6>
                <a href="/blogs/news/unite-led-light-bar-now-with-curved-rails"
                  >UNITE LED Light Bar Now With Curved Rails</a
                >
              </h6>
            </div>
            <div class="meta-data">
              <span class="date">November 11, 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="post-item">
        <div class="post-item-inner">
          <div class="post-image">
            <a href="/blogs/news/revolutionary-new-unite-modular-led-light-bar-system">
              <img
                src="//cdn.shopify.com/s/files/1/0273/6724/3885/articles/VisionX_Unite_LightBar_-off-road-1024x683_150x.jpg?v=1591736748"
                alt="Blog"
              >
            </a>
          </div>
          <div class="post-content">
            <div class="info">
              <h6>
                <a href="/blogs/news/revolutionary-new-unite-modular-led-light-bar-system"
                  >Revolutionary New UNITE Modular LED Light Bar System</a
                >
              </h6>
            </div>
            <div class="meta-data">
              <span class="date">June 09, 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sb-widget">
  <div class="sb-blog-social-widget">
    <h5 class="sb-title">Share</h5>
    <div class="share-links social-sharing" data-permalink="https://visionxoffroad.com">
      <ul class="list-inline">
        <li>
          <a
            class="twitter"
            target="_blank"
            rel="noopener"
            href="//twitter.com/share?url=https://visionxoffroad.com&amp;text="
            title="Twitter"
          >
            <i class="demo-icon icon-twitter"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a
            class="facebook"
            target="_blank"
            rel="noopener"
            href="//www.facebook.com/sharer.php?u=https://visionxoffroad.com"
            title="Facebook"
          >
            <i class="demo-icon icon-facebook"></i>
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a
            class="google"
            target="_blank"
            rel="noopener"
            href="//plus.google.com/share?url=https://visionxoffroad.com"
            title="Google"
          >
            <i class="demo-icon icon-google"></i>
            <span>Google+</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
