{% if product.metafields.r4s.r4s-product.value %}
    <script async='async' type='text/javascript' src='https://app.returnsforsale.com/widgets/{{ product_id }}?variant_id={{ variant_id }}'></script>
{% endif %}
<div id='r4s'></div>