<li class="field_4">
  <label class="ymm_label" for="dropdown-field_4">Type</label
  ><select id="dropdown-field_4" class="ymm-filter">
    <option value="-1">Select Type</option>
    <option value="gc_atv">ATV</option>
    <option value="gc_automotive">Automotive</option>
    <option value="gc_motorcycle">Motorcycle</option>
    <option value="gc_side-x-side-utv">Side x Side/UTV</option>
    <option value="gc_snowmobile">Snowmobile</option>
  </select>
</li>
<li class="field_1">
  <label class="ymm_label" for="dropdown-2-field_1">Year</label
  ><select id="dropdown-2-field_1" class="ymm-filter" disabled>
    <option value="-1">Select Year</option>
  </select>
</li>
<li class="field_2">
  <label class="ymm_label" for="dropdown-3-field_2">Make</label
  ><select id="dropdown-3-field_2" class="ymm-filter" disabled>
    <option value="-1">Select Make</option>
  </select>
</li>
<li class="field_3">
  <label class="ymm_label" for="dropdown-4-field_3">Model</label
  ><select id="dropdown-4-field_3" class="ymm-filter" disabled>
    <option value="-1">Select Model</option>
  </select>
</li>
<li class="ymm_bttns">
  <div id="ymm_actions" class="button-action" align="center">
    <input type="button" name="submit" id="ymm_search" value="Search" class="btn ymm_search" disabled="disabled"
    ><input type="button" name="reset" id="ymm_reset" value="Reset" class="btn btn--secondary">
  </div>
</li>
