.mlveda-preorder-text-below-atc {
  width: 296px;
    background-color: #f4f4f4;
    border-radius: 10px;
    border-color: #d7d7d7;
    border-width: 1px;
    color: #232323;
    font-size: 14px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    padding: 7px;
    border-style: solid;
    box-sizing: content-box;
    z-index: 999;
    line-height: 1.6;
    overflow: hidden;
    margin-top: 8px;
}

@media only screen and (max-width: 980px) {
  .mlveda-preorder-text-below-atc {
    width: calc(100% - 16px);
  }
}
